.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main img {
  width: 500px;
}
input {
  width: 500px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 30px;

}
